.container1{
    background: url(/assets/images/beach.jpg)center center no-repeat;  
    background-size: cover;
}

.book-now-container{
    padding: 35px 115px;
}

.book-now-button {
    width: 170px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
}

.header-container {
    padding: 100px 100px;
    text-align: center;
    max-width: 600px;
}

.header-container .mat-display-4 {
    color: white;
}

.header-container .mat-display-1 {
    margin: 10px;
}

.thailand {
    position: relative;
    width: 100%;
    text-align: center;
    transform: translate(-30px -70px);
}

.thailand h3 {
    -webkit-text-fill-color: transparent;
    background: url(/assets/images/beach-house.jpg) repeat;
    -webkit-background-clip: text;
    font-stretch: normal;
    font-size: 200px;
    letter-spacing: 0.09em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
    top: 30%;
    
    position: relative;    
}


.home-section {
    text-align: center;
    line-height: normal;
}

.rooms-home-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

.rooms-home-display .mat-card {
    position: relative;
    text-align: center;
}

.room-suites {
    background: url(/assets/images/room-suite.jpg) center center no-repeat;
    background-size: cover;
}

.beach-houses {
    background: url(/assets/images/beach-house.jpg) center center no-repeat;
    background-size: cover;
}
mat-card{
    height: 600px;
}
.rooms-home-display mat-card-header h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
}
.rooms-home-display mat-card-header {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        height: 55px;
        background: rgba(255,248,225,.6);
}

.rooms-home-display mat-card-actions {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rooms-home-display mat-card button {
    min-width: 141px;
    min-height: 40px;
}
/* @media all and (min-width: 768px) {
    .container1 {
        height: 100vh;
    }
}*/

@media all and (max-width: 599px) {
    .header-container .mat-display-1 {
        font-size: 1.1rem;
        line-height: 1.1;
    }
    .header-container .mat-display-4 {
        font-size: 3rem;
        line-height: 1.1;
    } 
}

@media all and (max-width: 1288px) {
    .thailand,
    .thailand h3 {
        display: none;
    }
    .home-section{
        padding-top: 80px;
    }
}    